**Obtain primary ChEBI IDs**

The secondary IDs have shown to become a hassle because they create a mess when trying to merge different dfs when oe containts primary and the other contains secondary ChEBI ID. This is an attempt at grouping all the secondary IDs to their primary, and subsequently changing every ID in the filtered list to primary. Will do the same for the data from TCDB eventually.

In [1]:
import pandas as pd
from rdkit import Chem, RDLogger

Using the ChEBI_complete_3star.sdf from https://www.ebi.ac.uk/chebi/downloadsForward.do

In [18]:
sdf_path = "ChEBI_complete_3star.sdf"
supplier = Chem.SDMolSupplier(sdf_path)

data = []
error_count = 0

for mol in supplier:
    if mol is not None:
        try:

            if mol.HasProp("ChEBI ID"):
                primary_id = mol.GetProp("ChEBI ID").split(":")[1]
            else:
                primary_id = None

            if mol.HasProp("Secondary ChEBI ID"):
                secondary_ids = [sid.split(":")[1] for sid in mol.GetProp("Secondary ChEBI ID").splitlines()]
            else:
                secondary_ids = []

            data.append({
                "Primary_CHEBI_ID": primary_id,
                "Secondary_CHEBI_IDs": secondary_ids
            })
        except Exception as e:
            error_count += 1

df = pd.DataFrame(data)

print(f"Successfully processed molecules: {len(df)}")
print(f"Molecules skipped due to errors: {error_count}")

df.to_csv("primary_secondary_chebi_ids.tsv", sep="\t", index=False)

df

Successfully processed molecules: 52172
Molecules skipped due to errors: 0

      Primary_CHEBI_ID Secondary_CHEBI_IDs
0                   90             [18484]
1                  165             [63901]
2                  598             [19009]
3                  776             [60497]
4                  943             [73174]
...                ...                 ...
52167           691037                  []
52168           691622                  []
52169           724125                  []
52170           741548                  []
52171           746859                  []

[52172 rows x 2 columns]